@model IEnumerable<AlbumCollection.Models.Album>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var album in Model)
    {
        <div class="album-card">
            <h1>@album.Title</h1>
            <h3>@album.Artist</h3>
        </div>
    }
</body>
</html>
